@font-face {
    font-family: 'Fraunces';
    src: url(fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.container{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(30, 38%, 92%);
}
.card{
    width: 40dvw;
    height: 60dvh;
    display: flex;
    gap: 0;
}
.card-left{
    flex-basis: 55%;
    display: flex;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card-left img{
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.imagemobile{
    display: none;
}
.card-right{
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;
    background:  hsl(0, 0%, 100%);
    gap: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.intro-text{
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 600;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
}
.intro-h1{
    font-family: 'Fraunces';
    font-size: 35px;
    color: hsl(212, 21%, 14%);
    line-height: 30px;
}
.intro-desc{
    font-family: 'Montserrat';
    font-weight: 600;
    color: hsl(228, 12%, 48%);
    word-spacing: 2px;
    line-height: 20px;
}
.price{
    display: flex;
    align-items: center;
    gap: 17px;
}
.main{
    font-size: 35px;
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
}
.deleted{
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-weight: 600;
}
.add-to-cart{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 17px 0px;
    background: hsl(158, 36%, 37%);
    border-radius: 8px;
    border: none;
    outline: none;
    transition: background 0.3s;
}
.add-to-cart h3{
    font-family: 'Montserrat';
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
.add-to-cart:hover{
    background: hsl(158, 37%, 17%);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width:767px){
    html{
        scroll-behavior: smooth;
    }
    .container{
        height: 100dvh;
        padding: 2% 2%;
    }
    .card{
        flex-direction: column;
        width: 90dvw;
        height: 90dvh;
    }
    .card-left{
        flex-basis: 45%;
    }
    .imagedesktop{
        display: none;
    }
    .imagemobile{
        display: block;
    }
    .card-left img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    .card-right{
        flex-basis: 55%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}